$primary-color: #12130F;
$secondary-color: #E8E9F3;
$cta-color: #F03A47;

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $primary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-display {
    min-width: 25rem;
    max-width: 30rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;

    &__quote {
        text-align: center;
        font-size: 1.7rem;

    }

    &__author {
        text-align: end;
    }

    &__tweet {
        display: contents;
    }

    &__btn {
        background-color: $secondary-color;
        margin: 1rem 0;
        width: max-content;
        cursor: pointer;
        border: 1px solid $cta-color;
        border-radius: 0.5rem;
        padding: 0.5rem;
        justify-content: flex-end;
    }


}