$primary-color: #12130F;
$secondary-color: #E8E9F3;
$cta-color: #F03A47;

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $primary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes-display {
    min-width: 25rem;
    max-width: 30rem;
    min-height: 10rem;
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: $secondary-color;

    &__quote {
        text-align: center;
        font-size: 1.7rem;
        margin: 0.5rem 0;
    }

    &__author {
        text-align: end;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tweet {
        text-decoration: none;
        width: 36px;
        height: 36px;
    }

    &__btn, &__tweet {
        background-color: $secondary-color;
        cursor: pointer;
        border: 1px solid $cta-color;
        border-radius: 0.3rem;
        padding: 0.5rem;
        font-size: 0.97rem;
        transition: all 0.3s;

        &:hover {
            background-color: $cta-color;
            color: $secondary-color;


            & svg path {
                fill: $secondary-color;
            }
        }
    }

}